{% extends 'base.html' %}

{% block page_title %}
    {{room.name}}
{% endblock page_title %}

{% block content %}
    <div>
        <h1>{{room.name}}</h1>
        <h3>{{room.description}}</h3>
    </div>
    <div>
        <h2>host: {{room.host.username}}
            {% if room.host.superhost %}
                (superhost)
            {% endif %}
        </h2>
        <h3>Amenities</h3>
        <ul>
            {% for item in room.amenities.all %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
        <h3>Facilities</h3>
        <ul>
            {% for item in room.facilities.all %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
        <h3>House Rules</h3>
        <ul>
            {% for item in room.house_rules.all %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}