{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
      {% block page_title %}{% endblock page_title %} | py-bnb
    </title>
  </head>
  <body class="text-gray-800">
    <header class="container max-w-full flex items-center justify-between px-5 h-20 border-b border-gray-400">
      <div class="flex items-center w-1/3">
        <a class="mr-10" href="{% url "core:home" %}">py-bnb</a>
        <div>
          {% block search-bar %}
          <form method="get" action="{% url "rooms:search" %}" class="w-9/12">
            <input class="search-box border font-medium placeholder-gray-600 px-5 py-3 rounded-sm shadow-md hover:shadow-lg focus:outline-none w-full" name="city" placeholder="Search by City" />
          </form>
          {% endblock search-bar %}
        </div>
      </div>
      {% include "partials/nav.html" %}      
    </header>

    {% block content %}{% endblock content %}
  
    {% include "partials/footer.html" %}
  </body>
</html>
